body{
    margin: 0;
}

header {
    background-color: yellow;
    height: 20vh;
    top: auto;
}

aside {
    background-color: blueviolet;
    width: 20vw;
    height: 50vh;
    margin-left: 80vw;
    margin-top: -50vh;
}

section {
    background-color: blue;
    width: 80vw;
    height: 50vh;

}

aside {
    background-color: blueviolet;
    width: 20vw;
    height: 50vh;
}

footer{
    background-color: red;
    height: 30vh;
}

