* {
    margin:0;
    padding:0;
}

H1{
    text-align: center;
    font-size: 80px;
}
H2 {
    text-align: center;
    font-size: 35px;
}
P {
    text-align: center
}

body{
    margin: 0;
    border: 0;
    background-color: #1f1f1f;
}

header{
    background-color: #ffde59;
    height: 20vh;
    top: auto;
}

section{

    background-color: #1f1f1f;
    height: 60vh;
    padding-top: 20vh;
}

#article1{
    background-color: white;
    width: 25vw;
    height: 50vh;
    margin-left: 6vw;
}

#article2{
    background-color: white;
    width: 25vw;
    height: 50vh;
    margin-left: 37vw;
    margin-top: -50vh;
}

#article3{
    background-color: white;
    width: 25vw;
    height: 50vh;
    margin-left: 68vw;
    margin-top: -50vh;
}

#cercle_art1{
    background-color: #ffde59;
    width: 10vw;
    border-radius: 50%;
    margin-top: -60vh;
    margin-left: 13.5vw;
}
#cercle_art2{
    background-color: #ffde59;
    width: 10vw;
    border-radius: 50%;
    margin-top: -20vh;
    margin-left: 44.5vw;
}
#cercle_art3{
    background-color: #ffde59;
    width: 10vw;
    border-radius: 50%;
    margin-top: -20vh;
    margin-left: 75.5vw;
}
.position{
    vertical-align: center;
}